		.carousel-inner>.item>img {
			margin: 0px auto;
		}
.row1{
	font-size: 50px;
	color: goldenrod;
	text-shadow: 2px 2px #FF0000;
}

.row2{font-size:20px;
}

.row22{
	font-size: 19px;
}

.row11{
	font-size:50px;
	color: goldenrod;
	text-shadow: 2px 2px #FF0000;
}

.row4{
	text-align: center;
	font-size: 40px;
	color: goldenrod;
	text-shadow: 2px 2px #FF0000;
}

.row5{
	text-align: center;
	font-size: 20px;
}

.text-uppercase{
	color: goldenrod;
	text-shadow: 2px 2px #FF0000;
}

















